body {
    background-color: #85C1E9;
}

h1 {
    color: white;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
}

#SelectRhythm{
    text-align: center;
    vertical-align: center;
}

#DisneyButton{
    width: 100px;
    height: 30px;
    background-color: blue;
    margin: auto;
    cursor: pointer;
}

#AllegroButton{
    width: 100px;
    height: 30px;
    background-color: blue;
    margin: auto;
    cursor: pointer;
}

.draggable {
    width:150px; 
    height: 80px;
    background-color: blue;
    cursor: pointer;
}

button {
    width:50px;
    height:30px;
}

.droppable {
    width:900px;
    height: 130px;
    border: 2px solid #021a40;
    margin:10px;

}

.highlighted {
    background-color: yellow;
}

.beat{
    height: 20px;
    margin: 10px;
    padding: 0px;
}

.WholeNote{
    width: 120px;
    height: 20px;
    background-color: black;
    display: inline-block;
}

.HalfNote{
    width: 60px;
    height: 20px;
    background-color: black;
    display: inline-block;
}
.DottedQuarter{
    width: 45px;
    height: 20px;
    background-color: black;
    display: inline-block;
}
.QuarterNote{
    width: 30px;
    height: 20px;
    background-color: black;
    display: inline-block;
}

.EighthNote{
    width: 15px;
    height: 20px;
    background-color: black;
    display: inline-block;
}

.SixteenthNote{
    width: 7.5px;
    height: 20px;
    background-color: black;
    display: inline-block;
}
